*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.bttn{
    border: none;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}




/*  <!-- Header Section Start --> */
header{
    background-color: rgb(255, 144, 14,.10);
    padding: 50px 240px;
}



/*  <!-- Navbar Section Start --> */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0px;
    color: #131313;
}
.nav_link ul{
    display: flex;
    justify-content: space-around;
    margin:20px 0px;
}
.nav_link ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
.nav_link ul a{
    text-decoration: none;
    color: #424242;
}
/* <!-- Navbar Section End --> */
/* <!-- Section_1_banner Style Start --> */
.section_01_banner_content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.section_01_banner_title{
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    margin: 20px 0;
}
.section_01_discription{
    color: #727272;
    margin: 20px 0;
}
.section_01_banner img{
    margin-top: 20px;
    width: 100%;
}

/* <!-- Section_1_banner Style Start --> */
/* <!-- Header Section End --> */






/* Main Section Style Start */
main{
    max-width: 1458px;
    margin: 0 auto;
}
/* Section_02 Style Start */
.section_02{
    display: flex;
    align-items: center;
    margin: 6rem 0;
}
.section_02_collage{
    display: grid;
    grid-template-columns: repeat(2,21rem);
    gap: 1.5rem;
}
.section_02_content{
    margin-left: 4rem;
}
.section_02_content p{
    margin:40px 0 20px 0;
}
.section_02_content h1{
    font-size: 45px;
    font-weight: 500;
    color: #727272;
}
.sp_01{
    font-weight: 700;
    color: black;
}
.sp_02{
    color: #FF900E;
    font-weight: 700;
}
/* Section_02 Style End */
/* Section_03 Style Start */
.section_03{
    display: flex;
    justify-content:space-between;
    gap:100px;
    margin: 50px;
}
.section_03_features>h1{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.section_03_features>p{
    color: #727272;
    margin: 40px 0 20px 0;
}
.section_03_div{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.section_03_div>h4{
    margin: 20px 0 20px 0;
}
.exprience{
    text-align: center;
    padding: 45px;
    margin-top: -90px;
}
.exprience>.spn3{
    font-size: 65px;
    display: block;
}
/* Section_03 Style End */
/* Section_04 Style Start */
.section_04 h1{
    font-size: 40px;
    font-weight: 700;
}
.section_04>p{
    color: #727272;
    margin-top: 40px;
}
.section_04_award{
    display: grid;
    grid-template-columns: repeat(4,18rem);
    column-gap: 4rem;
    padding-right: 0px;
}
.section_04_div{
    text-align: center;
    border: 1px solid #FF900E;
    height: 200px;
    border-radius: 10px;
    margin: 45px 0 60px 86px;
    padding-top: 30px;
}
.section_04_div h2{
    font-size: 40px;
    margin: 1rem 0rem;
}
.section_04_div>p{
    font-size: 20px;
    font-weight: 500;
}
/* Section_04 Style End */
/* Main Section Style Main */








/* -------------------------------------------- @media For Mobile screen Style------------------------------------------------ */
    
@media screen and (max-width:576px) {
    /* Header Section Style Start */
    header{
        padding: 20px;
    }
     /* Nav Section Style */
    nav{
        flex-direction: column;
    }
    .nav_logo{
        font-size: 2rem;
        margin: 20px 0px;
    }
    .nav_link ul{
        margin:20px 0px;
    }
     /* Section_01_banner Section Style */
    .section_01_banner_title {
        margin: 20px 0;
    }
    .section_01_discription {
        margin: 20px 0;
    }
    .section_01_banner_title{
        font-size: 2rem;
    }
    /* Header Section Style End */





    /* Main Section Style Start */
    /* Section_02 Style Start */
    .section_02{
        flex-direction: column;
    }
    .section_02_collage{
        grid-template-columns: 345px;
    }
    .section_02_content{
        margin-left: 1rem;
        margin-top: 2rem;
    }
    /* Section_02 Style End */
    /* Section_03 Style Start */
    .section_03{
        gap: 0;
        flex-direction: column;
    }
    .section_03_image>img{
        width:75vw;
        margin-bottom: 10px;
    }
    .exprience{
        margin-top: 0px;
    }

    /* Section_03 Style End */
    /* Section_04 Style Start */
    .section_04_award{
        display: flex;
        column-gap: 4rem;
        flex-direction: column;
        margin-right: 80px;
    }
    /* Section_04 Style End */
    /* Main Section Style Main */
}










/* -------------------------------------------- @media For Tablet screen Style------------------------------------------------ */



@media screen and (min-width:576px) and (max-width:960px) {
    /* Header Section Style */
    header{
        padding: 50px;
    }
     /* Nav Section Style */
    .nav_logo{
        font-size: 2.2rem;
        margin: 20px 0px;
    }
    .nav_link ul{
        margin:20px 0px;
    }
     /* Section_01_banner Section Style */
    .section_01_banner_title {
        margin: 20px 0;
    }
    .section_01_discription {
        margin: 20px 0;
    }
    .section_01_banner_title{
        font-size: 2rem;
    }
    /* Header Section Style End */




    /* Main Section Style Start */
    /* Section_02 Style Start */
    .section_02{
        flex-direction: column;
    }
    .section_02_content{
        margin-top: 2rem;
    }
    /* Section_02 Style End */
    /* Section_03 Style Start */
    .section_03{
        gap: 0;
        flex-direction: column;
    }
    .section_03_image>img{
        width:88vw;
        margin-bottom: 10px;
    }
    .exprience{
        margin-top: 0px;
        margin-left: 25%;
    }
    /* Section_03 Style End */    
    /* Section_04 Style Start */ 
    .section_04_award{
        display: grid;
        grid-template-columns: repeat(2,18rem);
        column-gap: 4rem;
        padding-right: 0px;
    }   
    /* Section_04 Style End */    
    /* Main Section Style Main */
}









